@font-face {
    font-family:Salamat ;
    src: url(Salamat.ttf);
} 
body{
    font-family: Salamat;
    background: rgb(195,129,50);
    background: radial-gradient(circle, rgb(181, 117, 39) 0%, #FFF2D7 100%); 
}
header{
    background-color: #AF8F6F;
    border-radius: 20px;
    width: 100%;
    margin: 30px;
}
header>p{
    position: relative;
    left: 20px;
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DEAC80;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
a{
    color: black;
    text-decoration: none;
}
#wh:hover{
    color: green;
}
#tel:hover{
    color: blue;
}
#ins:hover{
    color: rgb(237, 74, 74);
}
.cloth_container{
    background-image: url(image/Download\ premium\ image\ of\ Paper\ texture\ background\,\ simple\ design\ by\ mook\ about\ plain\ cream\ background\,\ white\ paper\ texture\,\ paper\ texture\ background\,\ paper\ texture\,\ and\ cream\ paper\ texture\ 6418185.jpg);
    border-radius: 30px;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 2%;
}
.clothes{
    flex: 0 0 auto; /* Prevent items from shrinking */
    width: 200px; /* Adjust width as needed */
    text-align: center;
    background-color:  #ED9121;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    margin: 2px 15px 2px 15px;   
}
.clothes>img{
    width: 260px;
    border-radius: 30px;

}
#bscroll>h1{
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 27px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 24.3px; } h3 { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: AppleGothic; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 18.9px; } pre { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px;
}
hr{
    width: 25%;
    position: relative;
    right: 37%;
}
#ascroll>h1{
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 27px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 24.3px; } h3 { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: AppleGothic; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 18.9px; } pre { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px;
}       
#godfather{
    font-family: Salamat;
}

#arrow{
    width: 70px;
    position: fixed;
    margin-right: 30px;
    font-size: x-large;
}
#hi>a{
    text-decoration: none;
    color: #f6dc88;
    font-size: x-large;
    margin:5px 5px 3px 5px;
}
ul>li{
    font-size: x-large;
}
ul>a{
    font-size: x-large;
}
.clothes>p{
    font-size: x-large;
}
#singin{
    font-size: x-large;
}
#toolbar{
    background-color: #ED9121;
    border-radius: 20px;
    width: 99%;
    margin-bottom: 20px;
}
